{% extends 'base.html' %}

{% block title %}
 Country Dashboard
{% endblock %}

{% block content %}
<section>
<h2>COUNTRY DASHBOARD</h2>
</section>
<section>

<h2>🌍 Available Countries</h2>

<ul>

    <li>🇨🇦 Canada</li>

    <li>🇦🇺 Australia</li>

    <li>🇬🇧 United Kingdom</li>

</ul>
</section>
<section>
<h2>Country Information</h2>


<ul>

    <li>IELTS Requirement</li>

    <li>Tuition Fees</li>

    <li>Living Expenses</li>

    <li>Visa Information</li>

</ul>
</section>
<a href="{% url 'dashboard' %}" class="back-btn">
⬅ Back to Dashboard
</a>
{% endblock %}

